<!doctype html>
<html class="no-js" lang="zxx">


<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->

    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3> Lists Recettes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

    <!-- recepie_area_start  -->
    <div class="recepie_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let recette of recettes">
                    <div class="single_recepie text-center">

                        <h3>{{recette.nomRecette}}</h3>

                        <p>Temps de préparation :{{recette.tempsPreparation}}</p>
                        <p>Temps de Cuisson :{{recette.tempsCuisson}}</p>
                        <p>Nombre de personnes :{{recette.nbPersonnes}}</p>

                      <a [routerLink]="['/recetteDetails/',recette.id]" class="line_btn">Plus de détails</a>
                     <!--<a routerLink="/recetteDetails" routerLinkActive="active" class="line_btn">la recette en détails</a>--> <br>


                    </div>
                </div>
                </div>





                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6    col-push-6" >

                     <a class="line_btn" routerLink="/addRecette" routerLinkActive="active">Ajouter</a>

</div>

                </div>









                </div>
                </div>

    <!-- /recepie_area_start  -->






</body>

</html>
